fastapi
uvicorn
python-multipart
pydantic
pymupdf
python-pptx
# Catatan: llama-cpp-python diinstall manual (lihat bawah)
# 1. Install library umum
#pip install -r requirements.txt

# 2. INSTALL KHUSUS GPU (CRITICAL STEP)
# Ini wajib agar Python mendeteksi CUDA NVIDIA RTX 3050.
# Jika CUDA Anda versi 11.8, ganti cu121 menjadi cu118.
#pip install llama-cpp-python --upgrade --force-reinstall --no-cache-dir --extra-index-url [https://abetlen.github.io/llama-cpp-python/whl/cu121](https://abetlen.github.io/llama-cpp-python/whl/cu121)